---
import { getCollection } from "astro:content";

import BlogPost from "@layouts/BlogPost.astro";
import BlogListEntry from "@components/BlogListEntry.astro";
import { entries } from "src/schemas/blog";

const posts = await entries();
---

<BlogPost
  frontmatter={{
    title: "Blog",
    description: "Browse the blog posts written by Matthew Sanetra",
  }}
>
  <h1>Blog</h1>
  <div class="not-prose">
    <ol class="list-none">
      {
        posts.map((post) => (
          <li>
            <BlogListEntry {...post.data} link={`/blog/${post.slug}/`} />
          </li>
        ))
      }
    </ol>
  </div>
</BlogPost>
