---
import RootPage from "@layouts/RootPage.astro";
import BlogListEntry from "@components/BlogListEntry.astro";

import { entries } from "@schemas/blog";
import { schema } from "@schemas/root";

const posts = await entries();
---

<RootPage
  {...schema.parse({
  title: "Blog Posts | Matthew Sanetra",
  headingOverride: "Blog",
  description: "Browse the blog posts written by Matthew Sanetra",
})}
>
  <div class="not-prose">
    <ol class="list-none">
      {
        posts.map((post) => (
          <li>
            <BlogListEntry {...post.data} link={`/blog/${post.slug}/`} />
          </li>
        ))
      }
    </ol>
  </div>
</RootPage>
