---
import type { CollectionEntry } from "astro:content";

export type Props = CollectionEntry<"blog">["data"] & {
  link: string;
};

const post = Astro.props;

const stringifiedDate = post.date.toISOString();
const formattedDate = stringifiedDate.split("T")[0];
---

<div class="py-2">
  <div class="border-gray-500 border-l-2 px-3">
    <a href={post.link}>
      <time
        class="italic float-right pl-2 text-gray-500"
        datetime={stringifiedDate}
      >
        {formattedDate}
      </time>
      <div>
        <span class="underline underline-offset-2 font-extrabold text-gray-800"
          >{post.headingOverride ?? post.title}</span
        >
        <p class="p-0 m-0">
          {post.description}
        </p>
      </div>
    </a>
  </div>
</div>
