---
const year = new Date().getUTCFullYear();
---

<footer class="pt-4">
  <div class="border-t border-t-gray-400 py-4 text-center">
    <div class="flex flex-wrap justify-center gap-x-1 py-1">
      <span>Made with &hearts; by Matthew Sanetra.</span>
      <span>Copyright &copy; {year}</span>
    </div>
    <div class="flex flex-wrap justify-center gap-x-4 py-1">
      <a class="underline" href="/attributions/">Attributions</a>
      <a class="underline" href="https://github.com/matthewsanetra/blog"
        >Source</a
      >
      <a class="underline" href="/blog/rss.xml">RSS</a>
    </div>
  </div>
</footer>
