---
import { getNavbarList } from "~schemas/root";

const pages = await getNavbarList();
const navbarList = [
  ...pages,
  {
    title: "Twitter",
    href: "https://twitter.com/mm_atthew",
  },
  {
    title: "Github",
    href: "https://github.com/matthewsanetra",
  },
];
---

<header>
  <div class="pb-8 pt-4">
    <span class="text-4xl font-extrabold">Matthew Sanetra</span>
    <div
      class="flex flex-wrap gap-x-4 border-b border-b-gray-400 py-1 underline-offset-2"
    >
      {
        navbarList.map(({ title, href }) => (
          <a href={href} class="hover:underline">
            {title}
          </a>
        ))
      }
    </div>
  </div>
</header>
