---
---

<header>
  <div class="pt-4 pb-8">
    <span class="text-4xl font-extrabold">Matthew Sanetra</span>
    <div
      class="flex flex-wrap gap-x-5 border-b border-b-gray-400 py-1 underline-offset-2"
    >
      <a href="/" class="hover:underline">About</a>
      <a href="/blog/" class="hover:underline">Blog</a>
      <a href="https://twitter.com/mm_atthew" class="hover:underline">Twitter</a
      >
      <a href="https://github.com/matthewsanetra" class="hover:underline"
        >Github</a
      >
    </div>
  </div>
</header>
