---
import type { BlogData } from "@schemas/blog";

import SharedLayout from "./SharedLayout.astro";

export type Props = BlogData;

const page = Astro.props;
---

<SharedLayout meta={page.meta}>
  <article
    class="prose prose-a:underline-offset-2 prose-pre:border prose-pre:border-slate-500"
  >
    <h1 class="mb-0">{page.heading}</h1>
    <time class="text-gray-500" datetime={page.date.toISOString()}>
      {
        page.date.toLocaleDateString("en-US", {
          year: "numeric",
          month: "long",
          day: "numeric",
        })
      }
    </time>
    <slot />
  </article>
</SharedLayout>
