---
import type { CollectionEntry } from "astro:content";

import SharedLayout from "./SharedLayout.astro";

export interface Props {
  // In content, we want to make dates mandatory.
  // However, in the layout, we want to make them optional because
  // this layout is used by the home page and other pages, which don't
  // want a date.
  frontmatter: CollectionEntry<"blog">["data"];
}

const { frontmatter } = Astro.props;

const heading = frontmatter.headingOverride ?? frontmatter.title;
---

<SharedLayout
  meta={{
    title: frontmatter.title,
    description: frontmatter.description,
    image: frontmatter.image,
  }}
>
  <article
    class="prose prose-a:underline-offset-2 prose-pre:border prose-pre:border-slate-500"
  >
    <h1 class:list={frontmatter.date ? "mb-0" : ""}>{heading}</h1>
    {
      frontmatter.date && (
        <time class="text-gray-500" datetime={frontmatter.date.toISOString()}>
          {frontmatter.date.toLocaleDateString("en-US", {
            year: "numeric",
            month: "long",
            day: "numeric",
          })}
        </time>
      )
    }
    <slot />
  </article>
</SharedLayout>
