---
import type { RootPageInfo } from "@schemas/root";
import SharedLayout from "./SharedLayout.astro";

export type Props = RootPageInfo;

const page = Astro.props;
---

<SharedLayout meta={page.meta}>
  <article
    class="prose prose-a:underline-offset-2 prose-pre:border prose-pre:border-slate-500"
  >
    <h1>{page.heading}</h1>
    <slot />
  </article>
</SharedLayout>
