---
import type { RootPageData } from "~schemas/root";
import SharedLayout from "./SharedLayout.astro";

export type Props = RootPageData;

const page = Astro.props;
---

<SharedLayout meta={page.meta}>
  <h1>{page.heading}</h1>
  <slot />
</SharedLayout>
