---
import Fonts from "~components/Fonts.astro";
import Meta from "~components/Meta.astro";
import FrontmatterMeta from "~components/FrontmatterMeta.astro";
import Header from "~components/Header.astro";
import Footer from "~components/Footer.astro";

import type { RootPageData } from "~schemas/root";

export type Props = { meta: RootPageData["meta"] };

const { meta } = Astro.props;
---

<html lang="en" class="overflow-x-hidden">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <Fonts />
    <Meta />
    <FrontmatterMeta {...meta} />
  </head>
  <body class="overflow-x-hidden bg-[#fcfcf0]">
    <a
      href="#_main-content"
      class="bg-primary text-primary-content absolute left-0 m-3 -translate-y-16 p-3 font-serif transition focus:translate-y-0"
      >Skip to main content</a
    >
    <div class="mx-auto max-w-screen-md px-4 font-serif">
      <Header />
      <main id="_main-content">
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
